@charset 'UTF-8';

@media handheld, only screen and ( max-width: 1440px ) {
	.hero-wrapper { min-height: 670px; }

  .page-wrapper-developer .support {
    min-height: 390px;
  }
}

@media handheld, only screen and ( max-width: 1200px ) {
	a.home-news-headlines { display: block; }

	.section-home-news ul li span.date {
		float: left;
		display: block;
		margin-top: 4px;
	}

  .page-wrapper-operators .logos img {
    width: 150px;
  }

  .hero-headline-developers {
    width: 55%;
  }

  .page-wrapper-developer .support {
    min-height: 440px;
  }

  .hero-wrapper-press {
    background-image: url( '../images/press-hero-1024.jpg' );
  }

  .hero-wrapper-operators {
    background-image: url( '../images/content-operators-1024-2x.jpg' );
  }

  .hero-wrapper-content {
    background-image: url( '../images/content-hero-1024-2x.jpg' );
  }

  .hero-wrapper-developer {
    background-image: url( '../images/dev-hero-1024-2x.jpg' );
  }
}

@media handheld, only screen and ( max-width: 992px ) {
	header { min-height: 60px; }
	body { margin-top: -15px; }
	#logo img { height: 30px; width: auto; }
	#nav-mobile { display: block; }

	#nav {
		float: none;
		margin: 0;
	}

	.menu {
		position: fixed;
		overflow: hidden;
		height: 0;
		width: 100%;
		padding: 0;
		left: 0;
		top: 65px;
		opacity: 0;
		background-color: #161616;
		-webkit-transition: padding 0.3s, height 0.2s, opacity 0.3s;
		transition: padding 0.3s, height 0.2s, opacity 0.3s;
	}

	.menu.open {
		position: fixed;
		height: calc( 100% - 65px );
		width: 100%;
		padding: 15px;
		left: 0;
		top: 65px;
		opacity: 1;
		background-color: #161616;
		-webkit-transition: padding 0.3s, height 0.2s, opacity 0.3s;
		transition: padding 0.3s, height 0.2s, opacity 0.3s;
	}

	#nav.open ul ul li,
	#nav.open li {
		line-height: 60px;
		-webkit-transition: line-height 0.4s;
		transition: line-height 0.4s;
	}

	#nav ul { height: 100%; }

	#nav li {
		font-style: normal;
		list-style: none;
		display: block;
		font-size: 16px;
		margin-left: 0;
		line-height: 100%;
		padding: 0;
		width: 100%;
		text-align: center;
		font-weight: 700;
		-webkit-transition: line-height 0.4s;
		transition: line-height 0.4s;
	}

	#nav li.login {
		border-left: none;
		padding-left: 0;
	}

	#nav li.dropdown { color: #fff; }

	#nav ul ul {
		position: relative;
		padding: 0;
		top: -10px;
		left: 0;
	}

	#nav ul ul li {
		width: auto;
		margin: 0;
		padding: 0;
		font-size: 15px;
		line-height: 40px;
		height: 40px;
		font-weight: 500;
	}

	#nav ul ul a {
		line-height: 100%;
		padding: 0;
	}

	footer li { display: none; }
	footer li:first-child { display: block; }

	.section-home-intro img {
  	display: inline-block;
  	width: 90px;
  	height: auto;
  	margin: 10px 12px;
	}

	.section-home-intro {
  	padding-top: 30px;
  	padding-bottom: 50px;
	}

  .hero-headline-operators {
    width: 100%;
    text-align: center;
  }

  .page-wrapper-press ul li {
    text-align: center;
  }

  .page-wrapper-press ul li span.date {
    float: none;
    display: block;
  }

  .page-wrapper-operators .logos img {
    width: 225px;
  }

  .page-wrapper-developer .category {
    min-height: 400px;
  }

  .hero-wrapper-press {
    background-image: url( '../images/press-hero-768.jpg' );
  }

  .hero-wrapper-operators {
    background-image: url( '../images/content-operators-768-2x.jpg' );
  }

  .hero-wrapper-content {
    background-image: url( '../images/content-hero-768-2x.jpg' );
  }

  .hero-wrapper-developer {
    background-image: url( '../images/dev-hero-768-2x.jpg' );
  }
}

@media handheld, only screen and ( max-width: 768px ) {
	.social-icons img {
		width: auto;
		height: 26px;
	}

  .page-wrapper-contact {
    margin: 40px 0 80px 0;
  }

	.social-icons li { margin-left: 13px; }

	.hero-wrapper video { display: none; }

  .hero-wrapper-home {
		background-image: url( '../images/home-hero-414-2x.jpg' );
		min-height: 720px;
		background-position: center;
		background-size: cover;
	}

  .hero-headline-operators {
    width: 100%;
    text-align: center;
  }

	.section-home-intro h3 { font-size: 18px; }

  .page-wrapper-operators .logos img {
    width: 170px;
  }

  .hero-headline-developers {
    width: 70%;
    text-align: center;
    margin: 110px;
  }

  .page-wrapper-developer .support {
    min-height: 360px;
  }

  .page-wrapper-developer .showcaseimage {
    height: 465px;
  }

  .page-wrapper-contact h2 {
    margin-top: 80px;
  }

  .page-wrapper-careers blockquote {
    text-align: center;
    margin: 0;
    min-height: 230px;
    background-position: center 100%;
  }

  blockquote p {
    padding: 0;
  }

  blockquote footer {
    position: relative;
    padding: 0;
  }

  .hero-wrapper-press {
    background-image: url( '../images/press-hero-414.jpg' );
  }

  .hero-wrapper-operators {
    background-image: url( '../images/content-operators-414-2x.jpg' );
  }

  .hero-wrapper-content {
    background-image: url( '../images/content-hero-414-2x.jpg' );
  }

  .hero-wrapper-developer {
    background-image: url( '../images/dev-hero-414-2x.jpg' );
  }
}

@media handheld, only screen and ( max-width: 567px ) {
	.hero-wrapper video { display: none; }
	.hero-wrapper-home { min-height: 560px; }

	.hero-wrapper {
		background-image: url( '../images/home-hero-320-2x.jpg' );
		min-height: 560px;
		background-position: center;
		background-size: cover;
	}

	.hero-headline-home { top: 40px; width: 90%; margin-top: 190px; }

  .hero-headline-home h1 { font-size: 58px; }

  .hero-headline-press { top: 40px; width: 90%; }

  .hero-headline-press h1 { font-size: 32px; }
  .hero-headline-press h4 { font-size: 20px; }

	.parent { height: 244px; }

  .page-wrapper-operators .logos img {
    width: 115px;
  }

  .page-wrapper-operators .more a {
    padding: 20px 10px;
  }

  .hero-headline-developers {
    width: 100%;
    margin: 100px 0 0 0;
  }

  .page-wrapper-developer .showcaseimage {
    height: 300px;
  }

  .page-wrapper-careers blockquote {
    min-height: 270px;
  }

  .hero-wrapper-press {
    background-image: url( '../images/press-hero-320.jpg' );
  }

  .hero-wrapper-content {
    background-image: url( '../images/content-hero-320-2x.jpg' );
  }

  .hero-wrapper-operators {
    background-image: url( '../images/content-operators-320-2x.jpg' );
  }

  .hero-wrapper-developer {
    background-image: url( '../images/dev-hero-320-2x.jpg' );
  }
}
