@charset 'UTF-8';

@media handheld, only screen and ( max-width: 1440px ) {

}

/* ----------------------------------------------------------- */
@media handheld, only screen and ( max-width: 1200px ) {

  .close {top: 70px;}

  .page-wrapper-operators .logos img {width: 150px;}

  .hero-headline-developers {width: 55%;}

  .hero-wrapper-press {background-image: url( '../images/press-hero-1024.jpg' );}

  .hero-wrapper-operators {background-image: url( '../images/content-operators-1024-2x.jpg' );}

  .hero-wrapper-content {background-image: url( '../images/content-hero-1024-2x.jpg' );}

  .hero-wrapper-developer {background-image: url( '../images/dev-hero-1024-2x.jpg' );}
}

/* ----------------------------------------------------------- */
@media handheld, only screen and ( max-width: 992px ) {

	header { min-height: 60px; }
	body { margin-top: -15px; }
	#logo img { height: 30px; width: auto; }
	#nav-mobile { display: block; }

  .close {
    top: 65px;
    right: 20px;
  }

	#nav {
		float: none;
		margin: 0;
	}

	.menu {
		position: fixed;
		overflow: hidden;
		height: 0;
		width: 100%;
		padding: 0;
		left: 0;
		top: 65px;
		opacity: 0;
		background-color: #000;
		-webkit-transition: padding 0.3s, height 0.2s, opacity 0.3s;
		transition: padding 0.3s, height 0.2s, opacity 0.3s;
	}

	.menu.open {
		position: fixed;
		height: calc( 100% - 65px );
		width: 100%;
		padding: 15px;
		left: 0;
		top: 65px;
		opacity: 1;
		background-color: #000;
		-webkit-transition: padding 0.3s, height 0.2s, opacity 0.3s;
		transition: padding 0.3s, height 0.2s, opacity 0.3s;
	}

	#nav.open ul ul li,
	#nav.open li {
		line-height: 60px;
		-webkit-transition: line-height 0.4s;
		transition: line-height 0.4s;
	}

	#nav ul { height: 100%; }

	#nav li {
		font-style: normal;
		list-style: none;
		display: block;
		font-size: 16px;
		margin-left: 0;
		line-height: 100%;
		padding: 0;
		width: 100%;
		text-align: center;
		font-weight: 700;
		-webkit-transition: line-height 0.4s;
		transition: line-height 0.4s;
	}

	#nav li.login {
		border-left: none;
		padding-left: 0;
	}

	#nav li.dropdown { color: #fff; }

	#nav ul ul {
		position: relative;
		padding: 0;
		top: -10px;
		left: 0;
	}

	#nav ul ul li {
		width: auto;
		margin: 0;
		padding: 0;
		font-size: 15px;
		line-height: 40px;
		height: 40px;
		font-weight: 500;
	}

	#nav ul ul a {
		line-height: 100%;
		padding: 0;
	}

	footer li { display: none; font-size: 12px; margin-right: 12px;}
	footer li:first-child { display: block;}
  footer li:last-child { display: block;}
  .social-icons {margin-top: -8px;}


  .hero-wrapper-home {min-height: 450px;}
  .hero-headline-home {margin-top: 132px;}
  .hero-headline-home h1 {font-size: 60px;}
  .home-block .parent {height: 280px;}

	.section-home-intro img {
  	display: inline-block;
  	width: 90px;
  	height: auto;
  	margin: 10px 12px;
	}

	.section-home-intro {
  	padding-top: 30px;
  	padding-bottom: 50px;
	}

  .hero-wrapper-operators {background-image: url( '../images/content-operators-768-2x.jpg' );}
  .hero-headline-operators {width: 100%; text-align: center; margin: 190px auto auto auto}
  .page-wrapper-content .logo-grid {width: 68%;}
  .page-wrapper-content .logo-grid-single {width: 25%;}

  .content-case-container {text-align: center;}
  .start-build-img {width: 100%; min-height: 380px;}
  .start-build-txt {width: 100%; text-align: center; padding: 40px 9% 70px 9%;}

  .hero-wrapper-developer {background-image: url( '../images/dev-hero-768-2x.jpg' );}
  .page-wrapper-developer .category {min-height: 400px;}

  .hero-wrapper-press {background-image: url( '../images/press-hero-768.jpg' );}
  .page-wrapper-press ul li {text-align: center;}
  .page-wrapper-press ul li span.date {float: none;display: block;}
  .page-wrapper-press .detail {margin-top: 40px;}


}

/* ----------------------------------------------------------- */
@media handheld, only screen and ( max-width: 768px ) {

	.social-icons img {
		width: auto;
		height: 26px;
	}

  .close {top: 40px;}

  .page-wrapper-contact {margin: 40px 0 80px 0;}

	.social-icons li { margin-left: 13px; }

	.hero-wrapper video { display: none; }

  .hero-wrapper-home {
		background-image: url( '../images/home-hero-414-2x.jpg' );
		min-height: 340px;
		background-position: center;
		background-size: cover;
	}

  .hero-headline-home {margin-top: 126px;}
  .hero-headline-home h1 {font-size: 50px;}

  .section-home-intro h3 { font-size: 18px; }

  .hero-wrapper-operators {background-image: url( '../images/content-operators-414-2x.jpg' ); min-height: 500px;}
  .hero-headline-operators {width: 80%; margin-top: 140px;}
  .hero-headline-operators h1 {font-size: 56px;}

  .page-wrapper-operators .app-grid-single {padding: 3px;}

  .hero-wrapper-developer {background-image: url( '../images/dev-hero-414-2x.jpg' );}
  .hero-headline-developers {
    width: 70%;
    text-align: center;
    margin: 110px;
  }

  .page-wrapper-developer .showcaseimage {
    height: 465px;
  }

  .page-wrapper-contact h2 {
    margin-top: 80px;
  }

  .page-wrapper-careers .careers-photos {padding-top: 0px; padding-bottom: 0px;}
  .page-wrapper-careers ul li span.date {display: block;float: none; margin-top: 4px;}

  .hero-wrapper-press {background-image: url( '../images/press-hero-414.jpg' );}
  .hero-wrapper-content {background-image: url( '../images/content-hero-414-2x.jpg' ); min-height: 500px;}
  .hero-headline-content {margin-top: 120px; width: 100%; text-align: center;}
}

/* ----------------------------------------------------------- */
@media handheld, only screen and ( max-width: 567px ) {

  .close { top: 25px; }


	.hero-wrapper video {display: none;}
	.hero-wrapper-home {min-height: 300px;}
	.hero-headline-home {top: 40px; width: 80%; margin-top: 56px;}
  .hero-headline-home h1 {font-size: 44px;}
  .home-block .parent {height: 230px;}

  .hero-wrapper-operators {min-height: 390px;}
  .hero-wrapper-operators {background-image: url( '../images/content-operators-320-2x.jpg' );}
  .hero-headline-operators {margin-top: 100px;}
  .hero-headline-operators h1 {font-size: 46px;}
  .page-wrapper-operators .app-grid-single {width: 33.3%; padding: 5px;}

  .hero-wrapper-content {background-image: url( '../images/content-hero-320-2x.jpg' ); min-height: 390px;}
  .hero-headline-content {margin-top: 60px; width: 100%;}
  .hero-headline-content h1 {font-size: 40px;}
  .hero-headline-content span {font-size: 22px; line-height: 1.3;}
  .page-wrapper-content {margin-top: 28px;}
  .page-wrapper-content .logo-grid {width: 90%;}
  .page-wrapper-content .logo-grid-single {padding: 4px;}

  .hero-wrapper-developer {background-image: url( '../images/dev-hero-320-2x.jpg' );}
  .hero-headline-developers {width: 100%; margin: 100px 0 0 0;}
  .page-wrapper-developer .showcaseimage {height: 300px;}

  .hero-wrapper-press {background-image: url( '../images/press-hero-320.jpg' ); min-height: 330px;}
  .hero-headline-press {top: 40px; width: 100%;}
  .hero-headline-press h1 {font-size: 46px;}
  .hero-headline-press h4 {font-size: 20px;}
}
