@charset 'UTF-8';

html {
  min-height: 100%;
  position: relative;
}

@font-face {
  font-family: 'Graphik Web';
  src: url('../fonts/Graphik-Regular-Web.eot');
  src: url('../fonts/Graphik-Regular-Web.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Graphik-Regular-Web.woff2') format('woff2'),
       url('../fonts/Graphik-Regular-Web.woff') format('woff');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Graphik Web';
  src: url('../fonts/Graphik-RegularItalic-Web.eot');
  src: url('../fonts/Graphik-RegularItalic-Web.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Graphik-RegularItalic-Web.woff2') format('woff2'),
       url('../fonts/Graphik-RegularItalic-Web.woff') format('woff');
  font-weight:  400;
  font-style:   italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'Graphik Web';
  src: url('../fonts/Graphik-Light-Web.eot');
  src: url('../fonts/Graphik-Light-Web.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Graphik-Light-Web.woff2') format('woff2'),
       url('../fonts/Graphik-Light-Web.woff') format('woff');
  font-weight:  300;
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Graphik Web';
  src: url('../fonts/Graphik-Medium-Web.eot');
  src: url('../fonts/Graphik-Medium-Web.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Graphik-Medium-Web.woff2') format('woff2'),
       url('../fonts/Graphik-Medium-Web.woff') format('woff');
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}

body {
  font-feature-settings: 'liga', 'kern';
  background-color:#ffffff;
  text-align: left;
  font-family: Graphik Web;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  color: #535353;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  line-height: 1;
  margin-bottom: 103px;
}

img {
  max-width: 100%;
}

/* BASE STYLES */

strong {
  font-family: Graphik Web;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

h1, h2, h3, h4 {
  font-family: Graphik Web;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  color: #161616;
}

h5, h6, {
  font-family: Graphik Web;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  color: #161616;
}

h1 { font-size: 46px; line-height: 1.0; margin-bottom: 20px; }
h2 { font-size: 42px; line-height: 1.2; margin-bottom: 22px; }
h3 { font-size: 22px; line-height: 1.4; margin-bottom: 5px; }
h4 { font-size: 22px; line-height: 1.5; margin-bottom: 3px; }

h5 {
  font-size: 16px;
  text-transform: uppercase;
  color: #161616;
  letter-spacing: 0.8px;
  font-style: normal;
  margin: 0 0 20px 0;
  line-height: 1.7;
}

p {
  color: #3b3b3b;
  font-size: 17px;
  line-height: 1.8;
  margin-bottom: 28px;
}

p.intro {
  font-size: 23px;
  line-height: 1.4;
  color: #505050;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 49%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

/* LAY-OUT */

header {
	width:100%;
	min-height: 80px;
	background-color: #161616;
	position: fixed;
  top: 0;
  z-index: 1000;
  display: block;
}

#logo {
  float: left;
  margin-top:16px;
    width:267px;
    height:49px;
}

#nav {
  float: right;
  margin: 22px 0 0 0;
}

#nav ul {
  margin: 0;
  padding: 0;
}

#nav li {
  font-style: normal;
  font-weight: 400;
  list-style: none;
  display: inline-block;
  font-size: 14.5px;
  margin-left: 32px;
  line-height: 0;
  padding: 12px 0;
}

#nav li.login {
  border-left: 1px solid #fff;
  padding-left: 22px;
}

#nav li a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: color 100ms linear;
  -ms-transition: 100ms linear;
  transition: 100ms linear;
}

#nav li a:hover { opacity: 0.6;}
#nav li a:active { opacity: 0.6; }

#nav .current a { color: #fff; }

#nav li .dropdown { display: block; }

.dropdown-content { display: none; }

#nav li.dropdown { color: #fff; cursor: pointer; }

#nav ul ul {
  position: absolute;
  top: 100%;
  left: -20px;
  background: #161616;
  padding: 0;
  margin: 0;
  opacity: 0;
  height: 0;
  overflow: hidden;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

#nav ul ul li {
  float: none;
  width: 200px;
  margin: 0;
  padding: 11px;
}

#nav ul ul a {
  line-height: 120%;
  padding: 10px 10px
}

#nav ul li.open > ul {
  opacity: 1;
  height: auto;
  padding: 14px 0 9px 2px;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

#nav ul li img {
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;

  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;

  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

#nav ul li.open img {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

#nav-mobile {
  position: absolute;
  float: none;
  display: none;
  cursor: pointer;
  right: 0;
  top: 0;
}

.burger-icon {
  position: relative;
	display:  inline-block;
	width: 30px;
	height: 30px;
	margin: 21px 16px;
}
.burger-icon span {
	margin: 0 auto;
	position: relative;
	top: 12px;
}
.burger-icon span:before, .burger-icon span:after {
	position: absolute;
	content: '';
}
.burger-icon span, .burger-icon span:before, .burger-icon span:after {
	width: 30px;
	height: 2px;
	background-color: #fff;
	display: block;
}
.burger-icon span:before {
	margin-top: -12px;
}
.burger-icon span:after {
	margin-top: 12px;
}

.burger-icon span {
	-webkit-transition-duration: 0s; transition-duration: 0s;
	-webkit-transition-delay: 0.2s; transition-delay: 0.2s;
}
.cross-icon span {
	background-color: rgba(0,0,0,0.0);
	-webkit-transition-delay: 0.2s; transition-delay: 0.2s;
}
.burger-icon span:before {
	-webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
	-webkit-transition-duration: 0.2s; transition-duration: 0.2s;
	-webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
}
.cross-icon span:before {
	margin-top: 0;
	-webkit-transform: rotate(45deg); transform: rotate(45deg);
	-webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
}
.burger-icon span:after {
	-webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
	-webkit-transition-duration: 0.2s; transition-duration: 0.2s;
	-webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
}
.cross-icon span:after {
	margin-top: 0;
	-webkit-transform: rotate(-45deg); transform: rotate(-45deg);
	-webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
}

footer {
  width: 100%;
  min-height: 103px;
  padding: 28px 0 34px 0;
  background-color: #161616;
  color: #a0a0a0;
  position: absolute;
  bottom: 0;
}

footer ul {
  margin: 10px 0 0 0;
  padding: 0;
}

footer li {
  display: block;
  float: left;
  margin-right: 28px;
  font-size: 15px;
}

.nav-footer li a:link,
.nav-footer li a:visited {
  text-decoration: none;
  color: #a0a0a0;
  -webkit-transition: color 100ms linear;
  -ms-transition: 100ms linear;
  transition: 100ms linear;
}

.nav-footer li a:hover,
.nav-footer li a:active { color: #cccccc; }

.social-icons {float: right;}

.social-icons ul {
  margin: 0;
  padding: 0;
}

.social-icons li {
  display: block;
  margin: 0 0 0 24px;
}

.social-icons a img {
  opacity: 0.6;
  -webkit-transition: opacity 200ms linear;
  -ms-transition: opacity 200ms linear;
  transition: opacity 200ms linear;
}

.social-icons a:hover img {
  opacity: 1.0;
}

/* HOME */

.page-wrapper-home {
	width: 100%;
	background-color: #fff;
	overflow: hidden;
	padding: 0;
	min-height: 600px;
}

.hero-wrapper {
	position: relative;
	min-height: 60vh;
	overflow: hidden;
	display: block;
}

.hero-wrapper-home {
  margin-top: 80px;
	background-image: url( '../images/home-hero-1920-2x.jpg' );
	background-position: center;
  background-size: cover;
	min-height: 882px;
	overflow: hidden;
	display: block;
}

.hero-wrapper-home .read-more {
  cursor: pointer;
}

.hero-headline-home {
  margin-top: 250px;
  margin-bottom: auto;
  width: 100%;
  text-align: center;
}

.hero-headline-home h1 {
  font-size: 74px;
  color: #fff;
  line-height: 1.15;
  text-shadow: 3px 0px 21px rgba( 0, 0, 0, 0.42 );
}

.hero-headline-home a.read-more {
	font-family: Graphik Web;
	font-weight: 500;
	font-style: normal;
	font-size: 24px;
  background-image: url( '../images/play-2x.png' );
  background-size: 60px;
  display: inline-block;
  width: 60px;
  height: 60px;
}

.hero-headline-home a { color: #fff; }

.hero-headline-home a:hover { text-decoration: none; }

.section-home-intro {
  text-align: center;
  padding-top: 54px;
  padding-bottom: 70px;
}

.section-home-intro img {
	display: inline-block;
	width: 138px;
	height: auto;
	margin: 10px 24px;
}

.section-home-blocks {
  background-color: #f5f5f5;
  padding-top: 70px;
  padding-bottom: 80px;
}

.section-home-blocks h2 {
  margin-bottom: 68px;
}

.home-block {
  display: block;
  overflow: hidden;
  background-color: #fff;
  margin-bottom: 26px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.04);
  -webkit-transition: all 180ms ease-in-out;
  -moz-transition: all 180ms ease-in-out;
  -o-transition: all 180ms ease-in-out;
  transition: all 180ms ease-in-out;
  min-height: 433px;
}

.home-block:hover { box-shadow: 0 14px 20px 0 rgba(0, 0, 0, 0.19); }

.home-block a { text-decoration: none; }

.home-block-headline {
  font-size: 20px;
  line-height: 1.3;
  font-family: Graphik Web;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  color: #232323;
  padding: 24px 28px 8px 28px;
  display: block;
  background-color: #fff;
  margin-bottom: 6px;
}

.home-block p {
  font-size: 15px;
  line-height: 1.5;
  font-family: Graphik Web;
  font-style: normal;
  font-stretch: normal;
  color: #707070;
  padding: 0px 28px 24px 28px;
  display: block;
  background-color: #fff;
  margin-bottom: 0;
}

.parent {
  width: 100%;
  height: 235px;
  overflow: hidden;
  display: block;
  cursor: pointer;
  background-color: black;
}

.child {
  width: 100%;
  height: 100%;
  background-color: #e7e7e7;
  background-position: center;
  background-size: cover;
  opacity: 0.95;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.block-1 { background-image: url('../images/home-thumb-premium-2x.jpg'); }
.block-2 { background-image: url('../images/home-thumb-reach-2x.jpg'); }
.block-3 { background-image: url('../images/home-thumb-dev-2x.jpg'); }

.home-block:hover .parent .child {
  opacity: 1;
  -ms-transform: scale(1.08);
  -moz-transform: scale(1.08);
  -webkit-transform: scale(1.08);
  -o-transform: scale(1.08);
  transform: scale(1.08);
}

.close {
  width: 50px;
  height: 50px;
  background-color: #fFF;
  border-radius: 100%;
  display: block;
  font-size: 20px;
  text-indent: -999em;
  border: 1px solid #000;
  top: 100px;
  right: 50px;
  z-index: 999;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.35);
  transition: all 0.25s ease-out;
  position: relative;
}

.close:after {
  font-weight: 300;
  content: "×";
  text-indent: 0;
  font-size: 50px;
  position: absolute;
  top: -3px;
  left: 12px;
}

#overlay {
  transition: opacity 0.35s ease;
  padding: 0em;
  box-sizing: border-box;
  opacity: 1;
  display: none;
  position: absolute;
  background-color: rgba(0,0,0,0.85);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.video-wrapper {
  box-sizing: border-box;
  min-width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  margin-top: 5%;
}

/* OPERATORS */

.hero-wrapper-operators {
  margin-top: 80px;
  background-image: url( '../images/content-operators-1920.jpg' );
  background-size: cover;
  background-position: center;
  min-height: 618px;
  overflow: hidden;
  display: block;
}

.hero-headline-operators {
  margin-top: 190px;
  margin-bottom: auto;
  width: 45%;
  text-align: left;
}

.hero-headline-operators h1 {
  font-size: 68px;
  font-family: Graphik Web;
  font-style: normal;
  font-stretch: normal;
  color: #fff;
  line-height: 1.15;
  text-shadow: 3px 0px 21px rgba( 0, 0, 0, 0.42 );
}

.page-wrapper-operators {
  margin: 74px 0 80px 0;
}

.page-wrapper-operators .section-operators-intro h2,
.page-wrapper-operators .settop h2 {
  font-size: 42px;
  font-family: Graphik Web;
  font-style: normal;
  font-stretch: normal;
  color: #161616;
  line-height: 1.2;
}

.page-wrapper-operators .section-operators-intro p,
.page-wrapper-operators .settop p {
  font-size: 17px;
  font-family: Graphik Web;
  font-style: normal;
  font-stretch: normal;
  color: #3b3b3b;
  line-height: 1.5;
}

.page-wrapper-operators .logos {
  margin-top: 60px;
  margin-bottom: 60px;
}

.page-wrapper-operators .logos img {
  width: 180px;
  box-shadow: 2px 20px 30px 2px rgba(0,0,0,0.2);
  margin-bottom: 16px;
  max-width: none;
}

.page-wrapper-operators .settop {
  background-color: #F8F8F8;
  margin-top: -105px;
  padding: 100px 0;
}

.page-wrapper-operators .ottintegrate {
  padding-top: 220px;
  padding-bottom: 220px;
  background-color: #2a2f31;
  color: #fff;
  margin-bottom: 80px;
}

.page-wrapper-operators .ottintegrate h2 {
  color: #fff;
}

.page-wrapper-operators .uxtools-intro {
  padding-bottom: 80px;
}

.page-wrapper-operators .uxtools-intro p.intro {
  margin-bottom: 90px;
}

.page-wrapper-operators .ux-tool {
  overflow: hidden;
  display: block;
  margin-bottom: 50px;
  padding-right: 38px;
}

.page-wrapper-operators .ux-icon {
  float: left;
  width: 64px;
  margin-right: 17px;
  display: block;
  overflow: hidden;
}

.page-wrapper-operators .ux-text {
  display: block;
  overflow: hidden;
}

.page-wrapper-operators .ux-text h5 {
  margin-bottom: 5px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 21px;
}

.page-wrapper-operators .ux-text p {
  line-height: 1.6;
}

.page-wrapper-operators .yourbrand {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2a2f31;
  color: #fff;
  background-image: url( '../images/bg-brand.jpg' );
  background-size: cover;
  background-position: center;
}

.page-wrapper-operators .yourbrand h2 {
  color: #fff;
}

.page-wrapper-operators .yourbrand p.intro {
  color: #fff;
}

.page-wrapper-operators .bitools-intro {
  padding-top: 100px;
  background-color: #f4f4f4;
  margin-bottom: 80px;
}

.page-wrapper-operators .bitools-intro p.intro {
  margin-bottom: 50px;
}

.page-wrapper-operators .bitools h3 {
  margin-top: 74px;
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 17px;
}

.page-wrapper-operators .bitools p {
  line-height: 1.6;
}

.page-wrapper-operators .more {
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  padding-top: 108px;
}

.page-wrapper-operators .more a {
  display: inline-block;
  margin: 40px 0;
  background-color: inherit;
  border: 1px solid #BEBEBE;
  color: #161616;
  padding: 18px 60px 21px 60px;
  font-size: 18px;
  font-family: Graphik Web;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  border-radius: 4px;
}

/* CONTENT PROVIDERS */

.hero-wrapper-content {
  margin-top: 80px;
  background-image: url( '../images/content-hero-1920-2x.jpg' );
  background-size: cover;
  background-position: center;
  min-height: 610px;
  overflow: hidden;
  display: block;
}

.hero-headline-content {
  margin-top: 170px;
  margin-bottom: auto;
  width: 60%;
  text-align: left;
}

.hero-headline-content h1 {
  font-size: 54px;
  font-family: Graphik Web;
  font-style: normal;
  font-stretch: normal;
  color: #fff;
  line-height: 1.15;
  text-shadow: 3px 0px 21px rgba( 0, 0, 0, 0.42 );
}

.hero-headline-content span {
  font-size: 29px;
  font-family: Graphik Web;
  font-style: normal;
  font-stretch: normal;
  color: #fff;
  line-height: 1.15;
  text-shadow: 3px 0px 21px rgba( 0, 0, 0, 0.42 );
}

.page-wrapper-content {
  margin: 74px 0 80px 0;
}

.section-content-intro h2 {
  font-size: 45px;
  font-family: Graphik Web;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
}

.section-content-intro p {
  font-size: 21px;
  font-family: Graphik Web;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
}

.section-content-intro .logos {
  background-image: url( '../images/logos-operators-2x.png' );
  background-size: 1304px 396px;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 396px;
  overflow: hidden;
  display: block;
  margin: 40px auto 80px;
}

.moneytext p {
  margin-bottom: 80px;
}

#monitize img {
  height: 460px;
  position: relative;
  left: 621px;
}

#monitize h3 {
  font-size: 30px;
  font-family: Graphik Web;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  color: #161616;
  text-shadow: none;
}

#monitize p {
  font-size: 17px;
  font-family: Graphik Web;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  color: #505050;
  text-shadow: none;
}

#monitize .carousel-control {
  background-image: none;
  background-size: 54px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}

#monitize .carousel-indicators li {
  width: 13px;
  height: 13px;
  background-color: transparent;
  background-image: url('../images/dot.png');
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 0px;
}

#monitize .carousel-indicators li.active {
  background-image: url('../images/dot-current.png');
  width: 13px !important;
  height: 13px !important;
}

#monitize .left {
  /*background-image: url( '../images/arrow-prev-2x.png' );*/
  left: -170px;
  background-color: transparent;
}

#monitize .right {
  /*background-image: url( '../images/arrow-next-2x.png' );*/
  left: 1140px;
  background-color: transparent;
}

.section-content-intro .inspire {
  margin-top: 80px;
}

.section-content-intro .inspire h2 {
  margin-bottom: 0;
}

.tech-slideshow {
  height: 441px;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  margin-top: 80px;
  margin-bottom: 150px;
}

.tech-slideshow > div {
  height: 441px;
  width: 12791px;
  background: url( '../images/apps2-2x.jpg' );
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate3d(0, 0, 0);
}

.page-wrapper-careers .tech-slideshow > div {
  height: 523px;
  width: 8228px;
  background: url( '../images/careers-2x.jpg' );
  background-size: contain;
}

.page-wrapper-careers .tech-slideshow {
  height: 523px;
}


.tech-slideshow .mover-1 {
  animation: moveSlideshow 120s linear infinite;
}

.page-wrapper-careers .tech-slideshow .mover-1 {
  animation: moveSlideshow 90s linear infinite;
}

@keyframes moveSlideshow {
  100% {
    transform: translateX(-66.6666%);
  }
}

.section-content-intro .text {
  background-color: #F8F8F8;
  font-size: 21px;
  font-family: Graphik Web;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
}

.section-content-intro .line {
  margin-top: 20px;
  padding: 0 20px 0;
}

.section-content-intro .screen,
.section-content-intro .text {
  min-height: 840px;
  position: relative;
}

.section-content-intro .text .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-content-intro .text h3 {
  font-size: 43px;
  font-family: Graphik Web;
  font-style: normal;
  font-stretch: normal;
  margin-bottom: 20px;
}

.section-content-intro .text h6 {
  font-size: 20px;
  font-family: Graphik Web;
  font-style: normal;
  font-stretch: normal;
  margin-bottom: 20px;
  margin-top: 40px;
}

.section-content-intro .text span {
  font-size: 17px;
  font-family: Graphik Web;
  font-style: normal;
  font-stretch: normal;
  margin-bottom: 20px;
  display: block;
  margin-top: 10px;
}

.section-content-intro .text a {
  background-color: inherit;
  border: 1px solid #BEBEBE;
  color: #161616;
  padding: 20px 40px;
  height: 65px;
  font-size: 18px;
  font-family: Graphik Web;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  border-radius: 4px;
  margin-top: 40px;
  display: inline-block;
}

.section-content-intro .radioline {
  background-image: url( '../images/case-radioline-2x.png' );
  background-color: #C8DCED;
}
.section-content-intro .plex {
  background-image: url( '../images/case-plex-2x.png' );
  background-color: #E4A12A;
}
.section-content-intro .xite {
  background-image: url( '../images/case-xite-2x.png' );
  background-color: #858B91;
}
.section-content-intro .toon {
  background-image: url( '../images/case-toongoggles-2x.png' );
  background-color: #D3ECFF;
}

.section-content-intro .screen {
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: center;
}

.section-content-intro .build {
  background-image: url( '../images/build-your-app-2x.jpg' );
  background-size: cover;
}

.section-content-intro .team {
  text-align: center;
  max-width: 780px;
  margin: 80px auto;
}

.section-content-intro .team h4 {
  font-size: 28px;
  font-family: Graphik Web;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  margin-bottom: 80px;
}

.section-content-intro .people .img {
  display: inline-block;
  background-size: 100%;
  width: 116px;
  height: 116px;
}

.section-content-intro .people .robert {
  background-image: url( '../images/portrait-robert-2x.png' );
}

.section-content-intro .people .ludo {
  background-image: url( '../images/portrait-ludo-2x.png' );
}

.section-content-intro .people .mehaal {
  background-image: url( '../images/portrait-mehaal-2x.png' );
}

.section-content-intro .people h5 {
  color: #161616;
  font-size: 18px;
  font-family: Graphik Web;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  font-weight: 500;
  text-transform: none;
  margin: 20px 0 0;
  letter-spacing: 0;
}

.section-content-intro .people .title {
  font-size: 14px;
  font-family: Graphik Web;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
}

.section-content-intro .people a {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  margin-top: 15px;
}

.section-content-intro .people .mail {
  background-image: url( '../images/contact-mail-2x.png' );
}

.section-content-intro .people .linkedin {
  background-image: url( '../images/contact-linkedin-2x.png' );
}

/* CAREERS */

.page-wrapper-careers {
  margin: 74px 0 120px 0;
}

.page-wrapper-careers h2 {
  margin: 80px 0 40px 0;
}

.page-wrapper-careers .intro {
  font-size: 20px;
  font-family: Graphik Web;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
}

.page-wrapper-careers .text {
  font-size: 16px;
  font-family: Graphik Web;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  padding-top: 40px;
  padding-bottom: 10px;
}

.page-wrapper-careers .careers-photos {
	padding-top: 40px;
	padding-bottom: 50px;
}

.page-wrapper-careers .full-width {
  background-image: url( '../images/dev-hero-1920-2x.jpg' );
  background-size: cover;
  height: 363px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.page-wrapper-careers blockquote {
  background-image: url( '../images/erik-2x.png' );
  background-size: 86px 86px;
  background-repeat: no-repeat;
  padding: 0;
  border: none;
  margin: 60px auto;
  font-size: 20px;
  font-family: Graphik Web;
  font-style: normal;
  font-stretch: normal;
  color: #818181;
  min-height: 115px;
}

blockquote p {
  padding: 0 0 0 120px;
  line-height: 1.5;
}

blockquote footer {
  background-color: transparent;
  font-size: 16px;
  font-family: Graphik Web;
  font-style: normal;
  font-stretch: normal;
  font-weight: 500;
  color: #161616;
  padding: 60px 0 0 120px;
}

blockquote footer:before {
  content: '';
}

.page-wrapper-careers ul {
  margin: 10px 0;
  padding: 0;
  border-top: 1px solid #E2E2E2;
}

.page-wrapper-careers ul li {
  list-style: none;
  padding: 28px 0;
  margin: 0;
  border-bottom: 1px solid #E2E2E2;
  overflow: hidden;
}

.page-wrapper-careers ul li span.date {
  float: right;
  font-family: Graphik Web;
  font-style: normal;
  font-stretch: normal;
  font-size: 15px;
  line-height: 1.5;
}

.page-wrapper-careers .detail {
  margin-top: 120px;
  background-color: #F8F8F8;
  font-size: 21px;
  font-family: Graphik Web;
  font-style: normal;
  font-stretch: normal;
  padding: 40px 45px 110px;
}

.page-wrapper-careers .detail h3 {
  font-size: 40px;
  margin-top: 50px;
  font-family: Graphik Web;
  font-style: normal;
  font-stretch: normal;
}

.page-wrapper-careers .detail p {
  margin: 20px 0 50px;
}

.page-wrapper-careers .detail a {
  background-color: inherit;
  border: 1px solid #BEBEBE;
  color: #161616;
  padding: 20px 40px;
  width: 40%;
  height: 65px;
  font-size: 18px;
  font-family: Graphik Web;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  border-radius: 4px;
}

.page-wrapper-careers .careers-note p {
	text-align: center;
	margin-top: 42px;
	font-size: 15px;
	line-height: 1.6;
}

/* DEVELOPERS */

.hero-wrapper-developer {
  margin-top: 80px;
  background-image: url( '../images/dev-hero-1920-2x.jpg' );
  background-size: cover;
  background-position: center;
  min-height: 610px;
  overflow: hidden;
  display: block;
}

.hero-headline-developers {
  margin-top: 170px;
  margin-bottom: auto;
  width: 45%;
  text-align: left;
}

.hero-headline-developers h1 {
  font-size: 54px;
  font-family: Graphik Web;
  font-style: normal;
  font-stretch: normal;
  color: #fff;
  line-height: 1.15;
  text-shadow: 3px 0px 21px rgba( 0, 0, 0, 0.42 );
}

.hero-headline-developers span {
  font-size: 29px;
  font-family: Graphik Web;
  font-style: normal;
  font-stretch: normal;
  color: #fff;
  line-height: 1.15;
  text-shadow: 3px 0px 21px rgba( 0, 0, 0, 0.42 );
}

.page-wrapper-developer {
  margin: 74px 0 80px 0;
}

.page-wrapper-developer .category {
  border: 1px solid #DDDDDD;
  background-size: 108px 86px;
  background-position: 40px 40px;
  background-repeat: no-repeat;
  padding: 130px 40px 40px;
  margin-bottom: 30px;
  min-height: 410px;
}

.category.start { background-image: url( '../images/dev-icon-start-2x.png' ); }
.category.guide { background-image: url( '../images/dev-icon-guidelines-2x.png' ); }
.category.download { background-image: url( '../images/dev-icon-download-2x.png' ); }
.category.dashboard { background-image: url( '../images/dev-icon-dashboard-2x.png' ); }

.page-wrapper-developer .category h4 {
  font-size: 25px;
  font-family: Graphik Web;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  margin-top: 6px;
  margin-bottom: 12px;
}

.page-wrapper-developer .category p {
  color: #535353;
  font-size: 16px;
  font-family: Graphik Web;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  margin-bottom: 12px;
}

.page-wrapper-developer .category ul {
  list-style: none;
  margin-left: -24px;
}

.page-wrapper-developer .category li {
  position: relative;
}

.page-wrapper-developer .category li:before {
  position: absolute;
  color: #848484;
  top: 8px;
  margin: -5px 0 0 -16px;
  vertical-align: middle;
  display: inline-block;
  width: 4px;
  height: 4px;
  content: '\025B8';
}

.page-wrapper-developer .category a {
  color: #848484;
  font-size: 16px;
  font-family: Graphik Web;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.8;
}

.page-wrapper-developer .support {
  background-color: #F2F2F2;
  min-height: 350px;
  margin-top: 40px;
}

.page-wrapper-developer .support-text {
  margin: auto;
  max-width: 600px;
}

.page-wrapper-developer .support h3 {
  margin-top: 80px;
  font-size: 28px;
  font-family: Graphik Web;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
}

.page-wrapper-developer .support a {
  background-color: inherit;
  border: 1px solid #BEBEBE;
  color: #161616;
  padding: 24px 40px 24px 48px;
  width: 40%;
  height: 65px;
  font-size: 16px;
  font-family: Graphik Web;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  border-radius: 4px;
  margin-top: 28px;
  display: inline-block;
  width: 270px;
}

.page-wrapper-developer .support a:before {
  position: absolute;
  color: #848484;
  margin: 0 0 0 -16px;
  vertical-align: middle;
  display: inline-block;
  width: 4px;
  height: 4px;
  content: '\025B8';
}

.page-wrapper-developer .showcasetitle h2 {
  font-size: 41px;
  font-family: Graphik Web;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  margin: 80px 0 0;
}

.page-wrapper-developer .showcasetitle h3 {
  font-size: 26px;
  font-family: Graphik Web;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  color: #747474;
  margin: 0 0 40px;
}

.page-wrapper-developer .showcaseimage {
  background-image: url( '../images/showcase-airbrush-2x.jpg' );
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 665px;
}

.page-wrapper-developer .showcasetext h3 {
  font-size: 42px;
  font-family: Graphik Web;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  margin: 40px;
}

.page-wrapper-developer .showcasetext p {
  color: #535353;
  font-size: 17.5px;
  font-family: Graphik Web;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  margin-bottom: 40px;
}

.page-wrapper-developer .showcasetext h4 {
  font-size: 15px;
  font-family: Graphik Web;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  text-transform: uppercase;
  margin: 30px;
  letter-spacing: 1px;
}

.page-wrapper-developer .showcasetext ul {
  list-style: none;
  margin: 0 0 40px;
  padding: 0;
  text-align: center;
}

.page-wrapper-developer .showcasetext li {
  display: inline-block;
  background-color: #F2F2F2;
  height: 42px;
  padding: 10px 14px;
  font-size: 16px;
  font-family: Graphik Web;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* PRESS */

.hero-wrapper-press {
  margin-top: 80px;
  background-image: url( '../images/press-hero-1920.jpg' );
  background-position: center;
  min-height: 394px;
  overflow: hidden;
  display: block;
  background-size: cover;
}

.hero-headline-press {
  margin-top: 140px;
  margin-bottom: auto;
  width: 100%;
  text-align: center;
}

.hero-headline-press h1 {
  font-size: 74px;
  color: #fff;
  line-height: 1.15;
  text-shadow: 3px 0px 21px rgba( 0, 0, 0, 0.42 );
}

.page-wrapper-press {
  margin: 74px 0 130px 0;
}

.page-wrapper-press h2 {
  font-size: 40px;
  margin-bottom: 40px;
}

a.press-headlines {
  font-size: 17px;
  font-family: Graphik Web;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  color: #232323;
}

.page-wrapper-press ul {
  margin: 10px 0;
  padding: 0;
  border-top: 1px solid #E2E2E2;
}

.page-wrapper-press ul li {
  list-style: none;
  padding: 28px 0;
  margin: 0;
  border-bottom: 1px solid #E2E2E2;
  overflow: hidden;
}

.page-wrapper-press ul li span.date {
  float: right;
  font-family: Graphik Web;
  font-style: normal;
  font-stretch: normal;
  font-size: 15px;
  line-height: 1.5;
}

.page-wrapper-press .detail {
  margin-top: 120px;
  background-color: #F8F8F8;
  font-family: Graphik Web;
  font-style: normal;
  font-stretch: normal;
  padding: 30px 45px 110px;
}

.page-wrapper-press .detail h3 {
  font-size: 40px;
  margin-top: 50px;
  font-family: Graphik Web;
  font-style: normal;
  font-stretch: normal;
}

.page-wrapper-press .detail p {
  margin-top: 20px;
  margin-bottom: 60px;
  font-size: 21px;
  line-height: 1.4;
}

.page-wrapper-press .detail a {
  background-color: inherit;
  border: 1px solid #BEBEBE;
  color: #161616;
  padding: 20px 40px;
  width: 40%;
  height: 65px;
  font-size: 18px;
  font-family: Graphik Web;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  border-radius: 4px;
}

/* CONTACT */

.page-wrapper-contact {
  margin: 180px 0 160px 0;
  font-family: Graphik Web;
  font-style: normal;
  font-stretch: normal;
  font-size: 17px;
  line-height: 37px;
}

.page-wrapper-contact .intro {
  margin-bottom: 40px;
}

.page-wrapper-contact address a { color: #4B4B4B; }

.page-wrapper-contact address strong { font-size: 19px; }

.page-wrapper-contact .emails address,
.page-wrapper-contact .address address,
.page-wrapper-contact .us address {
  font-family: Graphik Web;
  font-style: normal;
  font-stretch: normal;
  font-size: 17px;
  line-height: 30px;
}
